{
  "extends": "plugin:shopify/esnext",
  "env": {
    "node": true
  },
  "rules": {
    "import/extensions": "off",
    "no-console": "off",
    "no-process-env": "off",
    "array-callback-return": "off"
  }
}
